body {
    font-family: Arial, sans-serif;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 15px auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
th:nth-child(1) { width: 5%; } /* Columna para mover */
th:nth-child(2) { width: 80%; } /* Descripción */
th:nth-child(3), th:nth-child(4) { width: 5%; } /* Inicio y Final */
tr {
    cursor: default; /* Cambiar el cursor por defecto en las filas */
}
.highlight {
    background-color: #f0f0f0;
}
form {
    text-align: center;
    margin: 15px;
}
.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaciado entre elementos */
}
#ultimaPagina {
    font-weight: bold;
}
.drag-icon {
    cursor: move; /* Cambiar el cursor al mover solo en el ícono */
    width: 20px; /* Ancho del ícono */
    height: 20px; /* Alto del ícono */
}
.drag-column {
    cursor: move; /* Cambiar el cursor al mover en la celda de mover */
}


.etiquetas {
    margin-bottom: 0.3rem; /* Ajusta el margen inferior de las etiquetas */
    font-size: 12px;
}

thead.thead-light th {
    font-size: 12px;
    font-weight: bold;
    padding: 6px 8px;
}

td.editable {
    text-align: left;
}

button.eliminar {
    font-size: 10px;
    padding: 2px 5px;
}

button.editar {
  background-color: #333;
  color: white;
  padding: 2px 5px;
  font-size: 10px;
  border: none;
  border-radius: 3px;
}


button.btn-primary.ml-2 {
    background-color: #1b8a6f;
    border-color: #1b8a6f;
    color: #fff;
}

button.btn-primary.ml-2:hover {
    background-color: #1b493e;
    border-color: #1b493e;
}

.editable-focus {
    background-color: #e1dafd !important; /* Azul pastel suave */
}

.radio-bold {
  font-weight: bold;      /* negrita */
  color: #007bff;         /* color (puedes cambiarlo) */
  text-decoration: underline; /* subrayado */       /* un poco más grande que el texto normal */
}

