    body, html {
        height: 100%;
    }
    #mensaje-inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        font-size: 1.5rem;
        color: #4a4a4a;
        text-align: center;
    }